 body {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh; 
    margin: 0;
    background-color: #f0f0f0;
}


.button_container {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 10px; 

    align-self: center;
}

#container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    gap: 2px;
    width: 500px;
    height: 500px;
}



 .grid-item {
    background-color: white;
    border: 1px solid #ccc;
    box-sizing: border-box;
    opacity: 1;
    
} 

